## Environment
NP_ENV=local

## NodesPlus API
INCR_API_BASE=
INCR_IMPORT_URL=
INCR_IMPORT_URL_DEV=
INCR_AUTH_TOKEN=

## Telegram bot
INCR_TELEGRAM_BOT_USERNAME=
INCR_TELEGRAM_BOT_TOKEN=
NP_BOT_SECRET=

## Optional
INCR_USE_MOCK_NODES=1
INCR_DRY_RUN_IMPORTS=0
